
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=4CJF0zyYmJlbu5h3hSSyYw==,NJb6y1K1QSlFdJNUjMrwYQ==,tVC94hspR3UFkeZsRCok3g==,vjR+0OvJwDcir8gLZhWHCg==
API_TOKEN_SALT=rv1bAjY1iNbHr/QHlyHuDA==
ADMIN_JWT_SECRET=A5NRqDSIwl9g3fVdAQLbTg==
TRANSFER_TOKEN_SALT=erbRxLkbTJWHY2LcgJzsYQ==

# Database
# DATABASE_CLIENT=sqlite
# DATABASE_HOST=
# DATABASE_PORT=
# DATABASE_NAME=
# DATABASE_USERNAME=
# DATABASE_PASSWORD=
# DATABASE_SSL=false
# DATABASE_FILENAME=.tmp/data.db

DATABASE_CLIENT=postgres

# Database URL (if using a single connection string)
# DATABASE_URL=postgres://strapi:strapi@localhost:5432/strapi

# OR (if using individual connection parameters)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=db_dibilabs
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# SSL Settings (if using SSL)
DATABASE_SSL=false
DATABASE_SSL_KEY=
DATABASE_SSL_CERT=
DATABASE_SSL_CA=
DATABASE_SSL_CAPATH=
DATABASE_SSL_CIPHER=
DATABASE_SSL_REJECT_UNAUTHORIZED=true

# Schema (default: public)
DATABASE_SCHEMA=public

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=kharismisbakhul@gmail.com
SMTP_PASS=qszstdrnbhfuttkw

JWT_SECRET=3jIa36TcFStLNv4aYst4VQ==
